<h2 class="header"><%= @assignment.name %><span class="green"> for <%= Course.find(@assignment.course_id).title %></span></h2>

<div class="content">
  <p>
  <% if @assignment.upload %>
    <%= link_to 'View assignment', @assignment.upload.url %>
  <% end %>
  </p><br />

  <p>
    <%= label_tag 'Upload completed assignment' %><br />
    <%= file_field_tag :upload %>
  </p><br />

  <p>
  <%= submit_tag 'Upload', {:class => 'blank'}%>
  </p>

</div>
