<h2 class="header"><%= @course.title %></h2>

<div class="content">

  <div class="section">
    <h3 class="header">Grades</h3>
    <table>
      <% @course.assignments.each do |assignment| %>
        <tr>
          <td><%= assignment.name %></td>
          <td><%= assignment.due.strftime('%m/%d/%Y') %></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="section">
    <h3 class="header">Materials</h3>
    <ul>
      <% @course.materials.each do |material| %>
        <li><%= link_to material.name, material.upload.url %></li>
      <% end %>
    </ul>
  </div>

  <div class="section">
    <h3 class="header">Assignments</h3>
    <ul>
      <% @course.assignments.each do |assignment| %>
        <li><%= link_to assignment.name, assignment.upload.url %></li>
      <% end %>
    </ul>
  </div>

  <div class="section">
    <h3 class="header">Course information</h3>
    <%= @course.information %>
  </div>
</div>
