<h2 class="header">Listing all users</h2>

<table class="users">
  <tr>
    <th>Username</th>
    <th>E-mail</th>
    <th>Type</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.username, admin_user_path(user)%>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.class %>
      </td>
    </tr>
  <% end %>

</table>

<% content_for :sidebar do %>
  <%= link_to '<div id="add">Create new student</div>', new_admin_student_path, :class => 'button'%>
  <%= link_to '<p>Create new professor</p>', new_admin_professor_path %>
  
<% end %>
