<div id="new_user">
  <h2 class="header">Editing course: <span class="green"><%= @course.title%></span></h2>

  <% form_for [:admin, @course] do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>

    <% f.fields_for :assignments do |sf| %>
      <p>
        <%= sf.label :name %><br />
        <%= sf.text_field :name %>
      </p>

      <p>
        <%= sf.label :due %><br />
        <%= sf.select_datetime :due %>
      </p>

      <% unless sf.object.new_record? %>
        <p>
          <%= sf.label :_delete, 'Remove:' %>
          <%= sf.check_box :_delete %>
        </p>
      <% end %>
    <% end %>

    <p><%= f.submit "Update course", {:class => 'blank'} %></p>
  <% end %>
</div>
