<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "homeroom | effective class management") %></title>
    <%= stylesheet_link_tag 'style' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">

      <div class="wrapper">

        <div id="logo">
          <h1>homeroom <span> | administration</h1>
          </div>

          <% if current_user %> 
            <div id="login">
              <p>Logged in as <%= current_user_name %> (<%= link_to 'Log-out', logout_path %>)</p>
            </div>		

            <div id="nav">
              <%= navigation([ 
                {:home => root_path},
                {:overview => admin_root_path}, 
                {:users => admin_users_path},
                {:courses => admin_courses_path},
                {:assignments => admin_assignments_path},
                {:materials => admin_materials_path}
              ]) %>
            </div>
          <% end %>

        </div>
        <!-- end wrapper -->

      </div>
      <!-- end header -->


    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%> 


    <div class="wrapper">
      <div id="main">
        <div class="col" id="left-col">
          <%= yield %>
        </div>

        <div class="col" id="right-col">
          <%= yield(:sidebar) %>
        </div>
      </div>

    </div>
    <!-- end wrapper -->

    <div id="footer">
      <div class="wrapper">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Github</a></li>
          <li><a href="#">Follow On Twitter</a></li>
          <li><a href="#">API</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
    <!-- end footer -->

  </body>
</html>

